.modal{
    position: fixed;
    left:0; 
    top:0;
    right:0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content:center;
}
.modal-content{
    width:500px;
    background-color: grey;
    padding-bottom: 20px;
}
.modal-footer{
    margin-bottom: 20px;
}
.modal-header{
    padding: 20px;
}

.button{
    float:right;
    margin-bottom: 20px;
}

.field {
    padding: 30px
}
.modal-title{
   text-align: center;
   color: white;
}