.modal{
    position: fixed;
    left:0; 
    top:0;
    right:0;
    bottom: 0;
    background-color:green;
    display: flex;
    align-items: center;
    justify-content:center;

}
.modal-content{
    width:px;
}

.modal-header, .modal-footer{
    padding: 10px;
}
.modal-body {
padding: 10px;
border-top: 1px;
border-bottom: 1px
}